<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     
    <title>Document</title>
</head>
<body>
    <%- include('./partials/ac') %>
  <br><br><br> <br> <br><br> <br>
       <div> 
           
          <form action="/auth/dashboard" method="post">
            <input type="date" name="date" id=""/>
            <input type="submit" value="fetch"/>
        </form>
    </div>
    <br><br><br> <br>
    <div class="container">
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">MEAL LIST</h4>
                        <h6 class="card-subtitle">Curret Date Meal list<code>Nutrify.me</code></h6>
                        <div class="table-responsive">
                            <table class="table user-table">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">ID</th>
                                        <th class="border-top-0">UserName</th>
                                        <th class="border-top-0">MealId</th>
                                        <th class="border-top-0">MealType</th>
                                        <th class="border-top-0">MealName</th>
                                        <th class="border-top-0">Description</th>
                                        <th class="border-top-0">Calories</th>
                                        <th class="border-top-0">EDIT</th>
                                        <th class="border-top-0">Delete</th>
                                     </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Deshmukh</td>
                                        <td>Prohaska</td>
                                        <td>@Genelia</td>
                                        <td>Deshmukh</td>
                                        <td>Prohaska</td>
                                        <td>@Genelia</td>
                                        <td>
                                            <form action="" method="post">
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </form>
                                        </td>
                                        <td><td>
                                            <form action="" method="post">
                                            <button type="submit"  class="btn btn-danger">Delete</button>
                                                    </form>
                                        </td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script src="https://kit.fontawesome.com/3f173db15d.js" crossorigin="anonymous"></script> 
</html>